#!/bin/bash
export SMARTCITYDOGS_SMTP_USERNAME=asdasd@gmail.com
export SMARTCITYDOGS_SMTP_PASSWORD=fasfasdasdasdasd
export SMARTCITYDOGS_SES_SERVER=smtp.gmail.com
export SES_PORT=587
export SMARTCITYDOGS_CONTACT_EMAIL=vafasdasdasdasd@gmail.com
export SMARTCITYDOGS_RECAPCHA_PUBLIC=asdf987asd8fa78s6df9786asdf
export SMARTCITYDOGS_RECAPCHA_SECRET=asdgsadfas89d7f80a9sd78f9a