#!/bin/bash
export SMARTCITYDOGS_DB_USER="smartcitydogs"
export SMARTCITYDOGS_DB_PASSWORD="smartcitydogs"
export SMARTCITYDOGS_DB_NAME="smartcitydogs_dev"
export SMARTCITYDOGS_DB_HOST="localhost"
export SMARTCITYDOGS_FROM_EMAIL="smartcitydogs@smartcitydogs.org"
export SMARTCITYDOGS_SES_SERVER="smtp.gmail.com"
##export SES_HOSTNAME=""
export SMARTCITYDOGS_SES_PORT=587
export SMARTCITYDOGS_SMTP_USERNAME="smartcitydogs@gmail.com"
export SMTP_PASSWORD="Smartcity1"

##Enter your ip address
export SMARTCITYDOGS_USER_IP="192.168.0.138"
export SMARTCITYDOGS_GOOGLE_MAPS_API_KEY=""