<style>
    body{
        overflow: hidden;
    }
</style>
<div class="unauth_class">
    <div class="number_text">
        ГРЕШКА 401!
    </div>
    <div class="error_text">
        Неоторизиран достъп!
    </div>
    <div class="error_home_page">
        Връщане в началаната страница 
        <i class="fas fa-arrow-right"> 
        </i>
           
        <a href="/">Начална страница</a>
    </div>
</div>