<div class="col-10 m-auto form-sign-in">
    <div class="col-10 m-auto pt-3">
        <h3 class="h3 mb-5 font-weight-normal ">Редактиране на куче</h3>
    </div>
    <%= render "form.html", Map.put(assigns, :action, shelter_animal_path(@conn, :update,@animals.id)) %>
</div>






