<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SmartCityDogs!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <div class="container-fluid">
	<div class="row "></div>
	<div class="container">
		<div class="row">
		<nav class="navbar navbar-expand-lg navbar-dark bg-transperent top-navbar w-100">
  <a class="navbar-brand bg-green pl-3 pr-3" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Начало</a>
      </li>
      <li class="nav-item">
      
        <a class="nav-link" href="/fortheproject">За проекта</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signals">Подадени сигнали</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news">Новини</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/help">Помощ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Контакти</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      
      <%= if @current_user do %>
      <li class="nav-item ">
        <a class="nav-link user-menu" href="#">
        	Здравей, <b>Иван Атанасов</b> <i class="far fa-user"></i>

        </a>
      </li>
      <% else %>
      <li class="nav-item ">
          <%= link "Register", to: user_path(@conn, :new), class: "nav-link" %>
      </li>
      <li class="nav-item ">
          <%= link "Sign in", to: session_path(@conn, :new), class: "nav-link" %>
      </li>
      <% end %>
      
      <li class="nav-item bg-white ">
        <a class="nav-link text-green new-signal-btn" href="#">ПОДАЙ СИГНАЛ</a>
      </li>
    </ul> 
  </div>
</nav>
</div>
</div>

      <main role="main">
      <div class="container mt-0">
<%= render @view_module, @view_template, assigns %>
<!-- </div> -->
      </main>

 <%# <svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text></svg>
 %>
    
  </body>
</html>
