<%= if get_flash(@conn, :error) do %>
<div class="alert alert-danger custom-fixed-alert" role="alert">
    <%= get_flash(@conn, :error) %>
</div>
<% end %>
<%= if get_flash(@conn, :info) do %>
<div class="alert alert-success custom-fixed-alert" role="alert">
    <%= get_flash(@conn, :info) %>
</div>
<% end %>