
<li class="nav-item active">
    <a class="nav-link" href="/shelter/signals">Начало</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/registered/new">Регистриране на куче</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/news">Новини</a>
</li>
           