<script>
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            xhr.setRequestHeader("x-csrf-token", "<%=Plug.CSRFProtection.get_csrf_token() %>");
        }
    });

    $(document).ready(function () {
        window.showModalForm(null, '<%=@conn.query_params["modal"] %>')
    });
</script>