<div class="row">
    <%= for signal <- @signals do %>
    <div class="col-lg-3 mb-2 mt-2">
        <%= render SmartcitydogsWeb.SignalView, "signal_card.html" , %{conn: @conn,signal: signal} %>
    </div>
    <% end %>
    
</div>
<div class="text-center custom-pagination">
    <%= pagination_links @page,distance: 3 %>
</div>
