<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>
  <body>

      <div class="container-signals">


                <div class="row">
                <%= for signal <- @signal do %>
                  <div class="col-lg-3">
                    <div class="col-container" style="background-image: url('/<%= get_signals_images(signal.id) %>')">
                      <div class="col-container-shadow">

                        <label-type class="
                          <%= if signal.signals_types_id == 1 do %>
                            label-type-red
                          <% end %>

                          <%= if signal.signals_types_id == 2 do %>
                            label-type-orange
                          <% end %>

                          <%= if signal.signals_types_id == 3 do %>
                            label-type-yellow
                          <% end %>

                          <%= if signal.signals_types_id == 4 do %>
                            label-type-green
                          <% end %>"><%=signal.signals_types_id
                        |> Smartcitydogs.DataSignals.get_signal_type()
                        |> Map.get(:name)
                        %>
                      </label-type>
                        <br />

                        <label-date>
                        <%=
                          signal_time = signal.inserted_at
                          |> DateTime.truncate(:second)
                          |> DateTime.to_string()
                          count = String.length(signal_time)
                          final_time = String.slice(signal_time,0..count-11)
                          final_time
                          # IO.inspect(final_time)
                          %>
                        <br />
                        </label-date>

                        <label-title><b><%=signal.title%></b></label-title>
                        <br />


                        <label-adress><%=signal.address%></label-adress>
                        <br />

                        <div class="icon-scale">
                          <div class="fa fa-eye">
                          </div> : <%=signal.view_count%>
                          <br />
                        </div>
                        <div class="icon-scale">


                          <div class="fa fa-thumbs-o-up">

                          </div> : <span id="signal-count"><%= signal.support_count %></span>
                        </div>
                          <!-- <br /> -->
                        <div class="icon-scale">
                          <div class="fa fa-comment-o">
                          </div> : 0
                          <br />
                        </div>
                        <center>

                        <div class="button-show-hide">
                          <p class="p-button-change"><a class="btn btn-secondary change-status" id="<%= signal.id %>" role="button">Change status</a></p>
                        </div></center>


                      <!-- The Modal -->
                        <div id="myModal" class="modal">

                          <!-- Modal content -->
                          <div class="modal-content">
                            <span class="close">&times;</span>
                            <p class="modal-type">Промяна на типът на сигнала:</p>
                            <br />
                            <select class="select-type">
                              <option value="1">Нов</option>
                              <option value="2">Приет</option>
                              <option value="3">Изпратен</option>
                              <option value="4">Осиновено</option>
                            </select>
                            <br />
                            <a class="btn btn-secondary" id="type-chosen" role="button">Промени</a>

                          </div>

                        </div>

                        <center>

                        <div class="button-show-hide">
                          <p class="p-button-view"><a class="btn btn-secondary" href="signals/<%=signal.id%>" role="button">View more</a>
                      </div></center>
                      </div>

                    </div>
                  </div>
                  <%end%>
                </div>

            </div>
                      <%= for x <- 1..@page.total_pages do %>
  <%= link "#{x * 8 - 7} - #{x * 8}", to: signal_path(@conn, :index, page: x) %>
<% end %> 
 

      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
