<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
  
  </head>
  <body>

  <div class="container-filter-signals">
        <div class="container-filter">
            <b><a href="/municipality/signals" id="all-signals">Подадени сигнали</a></b>

            <div class="Signals"> 
            <div class="Signals-filter"> 
            <ul style="list-style-type:none;">  <li class="title_filter"> Филтрирай по категория </li> 
             <%= form_for @conn, signal_path(@conn, :filter_signals),[multipart: true, class: "form-elixir register-form-class", method: :get], fn f -> %>
              <%= checkbox(f, :sig_category1, name: "sig_category[]", checked_value: 1, value:    if Enum.find(@data_category, fn x -> x == "1" end)  != nil do Enum.find(@data_category, fn x -> x == "1" end) |> String.to_integer() 
                                                                                        else  0 end ) %>Бездомно куче</br>
              <%= checkbox(f, :sig_category2,  name: "sig_category[]", checked_value: 2, value:    if Enum.find(@data_category, fn x -> x == "2" end)  != nil do Enum.find(@data_category, fn x -> x == "2" end) |> String.to_integer() 
                                                                                        else  0 end ) %>Избягал домашен любимец</br>
              <%= checkbox(f, :sig_category3,  name: "sig_category[]", checked_value: 3, value:    if Enum.find(@data_category, fn x -> x == "3" end)  != nil do Enum.find(@data_category, fn x -> x == "3" end) |> String.to_integer() 
                                                                                        else  0 end )%>Малтретиране на животно
           
    </ul> <ul style="list-style-type:none;">  <li class="title_filter"> Филтрирай спрямо Статус </li> 
              <%= checkbox(f, :sig_status1, name: "sig_status[]", checked_value: 1, value: if Enum.find(@data_status, fn x -> x == "1" end)  != nil do Enum.find(@data_status, fn x -> x == "1" end) |> String.to_integer() 
                                                                                        else  0 end )%>Нов</br>
              <%= checkbox(f, :sig_status2, name: "sig_status[]", checked_value: 2, value:    if Enum.find(@data_status, fn x -> x == "2" end)  != nil do Enum.find(@data_status, fn x -> x == "2" end) |> String.to_integer() 
                                                                                        else  0 end )%>Приет</br>
              <%= checkbox(f, :sig_status3, name: "sig_status[]", checked_value: 3, value:    if Enum.find(@data_status, fn x -> x == "3" end)  != nil do Enum.find(@data_status, fn x -> x == "3" end) |> String.to_integer() 
                                                                                        else  0 end )%>Изпратен</br>
              <%= checkbox(f, :sig_status4, name: "sig_status[]", checked_value: 4, value:    if Enum.find(@data_status, fn x -> x == "4" end)  != nil do Enum.find(@data_status, fn x -> x == "4" end) |> String.to_integer() 
                                                                                        else  0 end )%>Приключен
   
     
      </ul>   
                <div class="input-group-append">
                         <%= submit "Търси", class: "btn btn-submit" %> <br>
                           <% end %>
                    </button>
                </div>
               
        </div>
            </div>
            <br />
            <a href="/municipality/animals" id="all-registered-dogs">Регистрирани кучета</a>
            <div class="Signals1"> 
            
            </div>
            <br />
            <a href="/municipality/animals/adopted" id="all-adopted-dogs">Осиновени кучета</a>
            <div class="Signals2"> 
            
            </div>
            <br />
            <b>
            <a href="/municipality/animals/shelter" id="all-dogs-shelter">Кучета в приюта</a>
            <div class="Signals3"> 
            
            </div>
            </b>
         </div>
      <div class="container-signals">


                <div class="row">
                <%= for signal <- @signal do %>
                
                  <div class="col-lg-3">
                    <div class="col-container" style="background-image: url('/<%= get_signals_images(signal.id) %>')">
                      <div class="col-container-shadow">

                        <label-type class="
                          <%= if signal.signals_types_id == 1 do %>
                            label-type-red
                          <% end %>

                          <%= if signal.signals_types_id == 2 do %>
                            label-type-orange
                          <% end %>

                          <%= if signal.signals_types_id == 3 do %>
                            label-type-yellow
                          <% end %>

                          <%= if signal.signals_types_id == 4 do %>
                            label-type-green
                          <% end %>"><%=signal.signals_types_id
                        |> Smartcitydogs.DataSignals.get_signal_type()
                        |> Map.get(:name)
                        %>
                      </label-type>
                        <br />

                        <label-date>
                        <%=
                          signal_time = signal.inserted_at
                          |> DateTime.truncate(:second)
                          |> DateTime.to_string()
                          count = String.length(signal_time)
                          final_time = String.slice(signal_time,0..count-11)
                          final_time
                         
                          %>
                        <br />
                        </label-date>

                        <label-title><b><%=
                        signal.signals_categories_id
                        |> Smartcitydogs.DataSignals.get_signal_category()
                        |> Map.get(:name)
                        %></b></label-title>
                        <br />


                        <label-adress><%=signal.address%></label-adress>
                        <br />

                        <div class="icon-scale">
                          <i class="fas fa-search"></i> : <%=signal.view_count%>
                          <br />
                        </div>
                        <div class="icon-scale">
                          <i class="fas fa-arrow-up"></i> : <span id="signal-count"><%= signal.support_count %></span>
                        </div>

                        <div class="icon-scale">
                          <i class="far fa-comment fa-flip-horizontal"></i> : <%= Enum.count(Smartcitydogs.DataSignals.get_comment_signal_id(signal.id)) %>
                          <br />
                        </div>
                        <center>

                        <div class="button-show-hide">
                          <a class="btn btn-secondary change-status" href="#" id="<%= signal.id %>" role="button">Промени статус</a>
                        </div></center>


                      <!-- The Modal -->
                        <div id="myModal" class="modal">

                          <!-- Modal content -->
                          <div class="modal-content">
                            <span class="close">&times;</span>
                            <p class="modal-type">Промяна на типът на сигнала:</p>
                            <br />
                            <select class="select-type">
                              <option value="1">Нов</option>
                              <option value="2">Приет</option>
                              <option value="3">Изпратен</option>
                              <option value="4">Осиновено</option>
                            </select>
                            <br />
                            <a class="btn btn-secondary" id="type-chosen" role="button">Промени</a>

                          </div>

                        </div>



                        <center>


                        <div class="button-show-hide">
                          <p class="p-button-view"><a class="btn btn-secondary" href="signals/<%=signal.id%>" role="button">Към сигнала</a>
                      </div></center>

                      </div>

                    </div>
                  </div>
                  <%end%>
                </div>
                <div class="padination">
                      <%= if @page.total_pages > 0 do %>
                        <%= for x <- 1..@page.total_pages do %>
                         <%= link "#{x * 9 -8}-#{x * 9} ", to: signal_path(@conn, :minicipality_signals, page: x, data_category: @data_category,  data_status: @data_status ) %>
                        <% end %>
                        <% end %>

                </div>
            </div>

      </div>
      <div class="send-signal-container">
        
      </div>
      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
      
</body>
</html>
<script>     
