<div class="col-lg-10 m-auto pt-5 form-sign-in">
    <h3 class="h3 mb-5 font-weight-normal ">Подаване на сигнал към зоо полиция</h3>

    <%=  render "form.html", Map.put(assigns, :action, signal_path(@conn, :create)) %>
</div>

