.main-contact-page{
    padding-top: 1%;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(54,201,149,1) 0%, rgba(51,201,149,1) 26%, rgba(49,201,149,0.82) 43%, rgba(49,201,149,0.7) 55%, rgba(49,201,149,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(54,201,149,1) 0%,rgba(51,201,149,1) 26%,rgba(49,201,149,0.82) 43%,rgba(49,201,149,0.7) 55%,rgba(49,201,149,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(54,201,149,1) 0%,rgba(51,201,149,1) 26%,rgba(49,201,149,0.82) 43%,rgba(49,201,149,0.7) 55%,rgba(49,201,149,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36c995', endColorstr='#0031c995',GradientType=0 );
}
.contact-page-container{
    width: 100%;
    height: 100%;;
    display: flex;
}
.contacts-left{
    padding: 1%;
    display: inline-block;
    width: 49%;
}
.contacts-right{
    padding: 1%;
    /* display: inline-block; */
    width: 49%;    
}
.fa-circle{
    font-weight: 500;
    font-size: 100px;
}
i.fa-facebook-f{
    width: 12%;
    display: inline-block;
    font-size: 50px;
    border-radius: 60px;
    box-shadow: 0px 0px 10px black;
    padding: 0.2em 0.5em;
  }
i.fa-phone{
    margin-top: 1%;
    width: 12%;
    display: inline-block;
    font-size: 45px;
    border-radius: 60px;
    box-shadow: 0px 0px 10px black;
    padding: 0.3em 0.35em;
}
i.fa-envelope{
    width: 12%;
    font-size: 45px;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 10px black;
    padding: 0.3em 0.35em;
}
.contact-text-info{
    display: inline-table;
    width: 88%;
    height: 10%;
    padding: 3%;
    font-size: 25px;
    font-weight: bold;
}
.contacts-right form{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
.contacts-right-form input[type=text]{
    border: 2px solid rgba(51,201,149,1);
    /* border-color: rgba(51,201,149,1); */
    float: right;
    width: 50%;
} 
.contacts-right-form textarea#user_text{
    border-color:rgba(51,201,149,1);
}
.contacts-right-form input[type=textarea]{
    background-color: transparent;
    border-color: rgba(51,201,149,1);
}
.contacts-right-form label{
    font-weight: bold;
    color: black;
    float: left;
    margin-bottom: 0px;
} 
.contacts-right-form .btn-primary{
    margin-top: 5%;
    width: 50%;
    background-color: white;
    color: rgba(51,201,149,1);
    font-weight: bold;
    border-color: rgba(51,201,149,1);
}
.contacts-right-form .btn-primary:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: white;
    color: rgba(51,201,149,1);
    box-shadow: 0px 0px 45px -4px rgba(0,0,0,0.75);
    
}