.main-contact-page{
    width: 100%;
    height: 100%;
}
.contact-page-container{
    width: 100%;
    height: 100%;;
    display: flex;
}
.contacts-left{
    padding: 1%;
    display: inline-block;
    width: 49%;
}
.contacts-right{
    height: 100vh;
    background-color: rgba(51,201,149,1);
    padding: 1%;
    width: 49%;    
}
.fa-circle{
    font-weight: 500;
    font-size: 100px;
}
.contacts-left i.fa-facebook-f{
    padding-left: 0px;
    width: 10%;
    display: inline-block;
    font-size: 30px;
    border-radius: 60px;
  }
.contacts-left i.fa-phone{
    width: 10%;
    display: inline-block;
    font-size: 30px;
    border-radius: 60px;
}
.contacts-left i.fa-envelope{
    width: 10%;
    font-size: 30px;
    display: inline-block;
    border-radius: 60px;
}
.contact-text-info{
    display: inline-table;
    width: 90%;
    height: 10%;
    padding-left: 5%;
    padding-top: 2%; 
    font-size: 20px;
    font-weight: bold;
}
.contacts-right form{

    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}
.contacts-right-form input[type=text]{
    border: 2px solid rgba(51,201,149,1);
    float: right;
    width: 50%;
} 
.contacts-right-form textarea#user_text{
    border-color:rgba(51,201,149,1);
}
.contacts-right-form input[type=textarea]{
    background-color: transparent;
    border-color: rgba(51,201,149,1);
}
.contacts-right-form label{
    padding-top: 5%;
    font-weight: bold;
    color: white;
    float: left;
    margin-bottom: 0px;
    clear: left;
} 
.contacts-right-form .btn-primary{
    margin-top: 10%;
    width: 50%;
    background-color: white;
    color: rgba(51,201,149,1);
    font-weight: bold;
    border-color: rgba(51,201,149,1);
    /* margin-bottom: 10vh; */
}
.contacts-right-form .btn-primary:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: white;
    color: rgba(51,201,149,1);
    
}
.contacts-right-form textarea#user_text{
    background: transparent;
    border: 1px solid white;
    color: white;
}
.contacts-right-form input#user_topic,
input#user_phone, input#user_last_name,
input#user_first_name{
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
}

.top-contacts-right{
    color: white;
    padding-left: 10%;
    padding-top: 5%;
    font-size: 25px;
    font-weight: bold;
}
.top-contacts-left{
    margin-bottom: 10%;
    color: black;
    padding-left: 10%;
    padding-top: 5%;
    font-size: 25px;
    font-weight: bold;
}
.facebook-icon{
    width: 100%;

    border: 1px solid black;
}
.form-control:focus{
    box-shadow: none;
}