.buttons-show-signals-user{
  width: 49%;
}
.buttons-show-followed-signal{
  margin-right: 5%;
  display: inline-flex;

}
.buttons-show-followed-signal{
  text-decoration: none;
  opacity: 0.5;
  font-style: italic;
  font-size: 20px;
  color: white;
}
.buttons-show-my-signals{
  text-decoration: none;
  opacity: 0.5;
  font-style: italic;
  font-size: 20px;
  color: white;
}
.buttons-show-followed-signal:hover{
  opacity: 1;
  text-decoration: underline;
  color: white;
}
.buttons-show-my-signals:hover{
  opacity: 1;
  text-decoration: underline;
  color: white;
}
.form-show-signals-user{
  width: 49%;
}
.border-style-links-profile{
  padding: 1%;
  border: 1px solid rgb(0,201,148);
  width: 60%;
  text-align: center;
  background-color: rgb(0,201,148);
  float: right;
}
.profile-button-styles{
  color: white;
  /* padding: 5%; */
}