
.fixed-top-costom .container{
    max-width: 90%;
}

.user-menu i {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}



.top-navbar {
    font-size: .8rem !important;
    padding-top: 2px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background: white;
    transition: 0.3s;
    padding-bottom: 3px;
}

.top-navbar .nav-link {
    color: black;

}
@media (max-width: 992px) {
    .col-lg-6{
        max-width: 50% !important;
    } 
}
@media (max-width: 650px) {
    .col-lg-6{
        max-width: 100% !important;
    } 
}

@media (min-width: 992px) {

    .navbar-home {
        background: transparent;
        box-shadow: none;

    }
}
@media (min-height: 1080px) {
    /* .modal-form{
        padding-top: 5%;
    } */
    .form-group{
        margin-top: 7vh !important;
    }
    form.form-elixir.register-form-class{
        margin-top: 2vh;
    }
}
@media (max-height: 768px) {
    .form-group{
        margin-top: 3vh !important;
    }
    form.form-elixir.register-form-class{
        margin-top: 2vh;
    }
}
@media (max-height: 640px) {
    .form-group{
        margin-top: 1vh !important;
    }
    form.form-elixir.register-form-class{
        margin-top: 0;
    }
}

@media (max-width: 992px) {
    .modal-form {
        max-width: 100% !important;
    }
}

.navbar-home .nav-link, .navbar .navbar-brand {
    color: white;
}
.navbar-home #new-signal-btn{
    color: rgb(0,201,148);
    background: white;
    -webkit-box-shadow: 0px 0px 0px 5px white;
    -moz-box-shadow: 0px 0px 0px 5px white;
    box-shadow: 0px 0px 0px 5px white;
}
#new-signal-btn {
    font-weight: bold;
    border: none;
    -webkit-box-shadow: 0px 0px 0px 5px rgb(0,201,148);
    -moz-box-shadow: 0px 0px 0px 5px rgb(0,201,148);
    box-shadow: 0px 0px 0px 5px rgb(0,201,148);
    background-color:rgb(0,201,148);
    color: #ffffff;
    margin-left: 10px;
}
#new-signal-btn:hover{
    text-decoration: none;
}
.form-group.register-form-class .under-form{
    margin-top: 10%;
}
.navbar-collapse.collapse.show, .navbar-collapse.collapsing {
    background-color: white;
}

.navbar-collapse.collapse.show .nav-link, .navbar-collapse.collapsing .nav-link {
    color: black;
}
.navbar-collapse.collapse.show #new-signal-btn{
    box-shadow:none;
    margin-left: 0px;
    text-align: center;
}
div#modal-forms-container{
    margin-top: 0.4%;
}
@media (max-width: 1200px){
    .fixed-top-costom .container{
        max-width: 100%;
        margin: 0px;
    }
    ul.navbar-nav.text-nowrap{
        margin: 0px;
    }
    .navbar{
        padding: 0px;
    }
    ul.navbar-nav.mr-auto.text-nowrap{
        margin-right: 3%;
    }
}
.news-button-create .btn-primary{
    background-color: rgb(0,201,148);
    border-color: rgb(0,201,148);
    color: white;
    transition: 0.5s;
}
.news-button-create .btn-primary:hover{
    transition: 0.5s;

}
.news-button-create .btn-primary:focus{
    background-color: rgb(0,201,148) !important;
    box-shadow: none !important;
    border-color: rgb(0,201,148) !important;
}
/* .latest-news-data .latest-date{
    margin-top: 5vh;
    padding-top: 5vh;
} */
.card{
    height: 100%;
}
.card-img-top{
    height: 40%;
}
.card-body{
    padding: 1rem;
}
.second-news-div{
    width: 100%;
    height: 100%;
}
.second-news-div .latest-date{
    margin-top: 0%;
}
.news-page-index{
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
}
.news-page-index .latest-news-data{
    padding: 5%;
}
.button-news{
    text-decoration: none;
    color: rgb(0,201,148) !important;
    font-size: 30px;
    transition: 1s;
}
.button-news:hover{
    color: rgb(0,201,148) !important;
    font-size: 33px;
    transition: 1s;
}
.second-news-div .button-news{
    color: rgb(0,201,148) !important;
    font-size: 20px;
    transition: 1s;
}
.second-news-div .button-news:hover{
    color: rgb(0,201,148) !important;
    font-size: 25px;
    transition: 1s;
}
.second-news-div .latest-text{
    margin-bottom: 5vh;
}
.second-news-div .button-news{
    margin-top: 30vh;
}
.div-for-button-news{
    margin-top: 35vh;
}
.second-news-div .latest-date{
    color: white;
}
.news-page-index .card-title{
    color: white;
}
.nnn .card-title{
    height: 12vh;
    color: black;
}
.news-page-index .padination{
    margin-top: 3vh;
}
.news-page-index .news-button-create{
    margin-top: 3vh;
}
.show-current-news{
    margin-top: 5%;
    width: 100%;
    height: 100%;
    padding: 5%;
}
.show-current-news label-headline-news{
    margin-bottom: 5%;
    font-family: monospace;
    font-size: 30px;
    color: black;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.show-current-news label-date-news{
    margin-bottom: 3%;
    font-family: monospace;
    color: black;
    display: inline-block;
    width: 100%;
}
.show-current-news .rounded-square{
    width: 100%;
}
.show-current-news label-text-news{
    font-family: monospace;
    color: black;
    display: inline-block;
    margin-top: 5%;
    width: 100%;
}
.show-current-news .btn-primary{
    margin-top: 5%;
    color: white;
    background-color: rgb(0,201,148);
    border-color: rgb(0,201,148);
}
.show-current-news .btn-primary:hover{
    color: white;
    background-color: rgb(0,201,148);
    border-color: rgb(0,201,148);
}
.show-current-news .btn-primary:focus{
    box-shadow: none !important;
    background-color: rgb(0,201,148) !important;
    border-color: rgb(0,201,148) !important;
}
.show-current-news label-text-news img{
    height: 50%;
    width: 50%;
}
.div-new-news{
    width: 100%;
    height: 100%;
    background-color: rgb(54, 201, 149);
}
.div-new-news .hidden-input-upload{
    display: none;
}
.div-new-news label.file-upload{
    margin: 0px;
}
.div-new-news{
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.div-new-news .form-group{
    padding: 3% 10%;
}
.div-new-news input#short_content, input#title{
    border: none;
    width: 25%;
    background: transparent;
    border-bottom: 1px solid white;
    border-radius: 0px;
}
.div-new-news input#title::placeholder, input#short_content::placeholder{
    color:white;
}
.div-new-news div#editor{
    border-color: white;
    height: 100vh;
}
.div-new-news .btn-primary{
    font-weight: bold;
    color: rgb(54, 201, 149);
    background-color: white;
    border-color: white;
}
.div-new-news .btn-primary:hover{
    color: rgb(54, 201, 149);
    background-color: white;
    border-color: white;
}
.div-new-news .btn-primary:focus{
    color: rgb(54, 201, 149);
    box-shadow: none;
    background-color: white;
    border-color: white;
}
.ql-toolbar.ql-snow{
    border-color: white;
}
.first-new-page{
    width: 100%;
    height: 100%;
}
@media (max-width:2560px){
    .second-news-div .row{
        /* margin-right: 0.7%; */
    }
    .first-new-page .latest-bg{
        width: 99.3%;
    }
    .first-new-page .latest-text{
        height: 100px;
        width: 100%;
        color: white;
        font-size: 45px;
    }
    .first-new-page .latest-text2{
        padding-left: 2%;
        font-size: 30px;
        color: white;
        height: 500px;
    }
    .first-new-page .card-title{
        font-size: 35px;
    }
    .first-new-page .button-news{
        text-decoration: none;
    }
    .first-new-page .button-news{
        font-size: 50px;
    }
    .first-new-page .button-news:hover{
        font-size: 53px;
    }
    .first-new-page .latest-bg{
        height: 1000px;
    }
    .second-news-div .second-bg{
        height: 700px;
    }
    .second-news-div .latest-date{
        font-size: 30px;
    }
    .second-news-div .latest-text{
        margin: 0px;
        height: 100px;
        color: white;
        font-size: 40px;
    }
    .second-news-div .latest-text2{
        height: 340px;;
        color: white;
        font-size: 30px;
    }
    .second-news-div .div-for-button-news{
        margin: 0px;
    }
    .second-news-div .button-news{
        font-size: 40px;
        text-decoration: none;
    }
    .second-news-div .button-news:hover{
        font-size: 43px;
    }
    .nnn p{
        margin: 0px;
    }
    .nnn .card{
        height: 800px;
    }
    .nnn .text-dark{
        font-size: 35px;
    }
    .nnn .card-text{
        font-size: 35px;
        height: 150px;
    }
    .nnn .card-title{
        font-size: 30px;
    }
    .nnn .text-green{
        transition: 1s;
        font-size: 30px;
    }
    .nnn .text-green:hover{
        transition: 1s;
        font-size: 33px;
    }
    .news-page-index .padination{
        font-size: 25px;
    }
    .news-button-create .btn-primary{
        font-size: 40px;
    }
}
@media (max-width:1920px){
    .second-news-div .row{
        /* margin-right: 0.7%; */
    }
    .first-new-page .latest-bg{
        width: 99%;
    }
    .first-new-page .latest-text{
        height: 100px;
        width: 100%;
        color: white;
        font-size: 40px;
    }
    .first-new-page .latest-text2{
        padding-left: 2%;
        font-size: 35px;
        color: white;
        height: 400px;
    }
    .first-new-page .card-title{
        font-size: 30px;
    }
    .first-new-page .button-news{
        text-decoration: none;
    }
    .first-new-page .button-news{
        font-size: 45px;
    }
    .first-new-page .button-news:hover{
        font-size: 48px;
    }
    .first-new-page .latest-bg{
        height: 800px;
    }
    .second-news-div .second-bg{
        height: 500px;
    }
    .second-news-div .latest-date{
        font-size: 25px;
    }
    .second-news-div .latest-text{
        margin: 0px;
        height: 100px;
        color: white;
        font-size: 35px;
    }
    .second-news-div .latest-text2{
        height: 180px;
        color: white;
        font-size: 25px;
    }
    .second-news-div .div-for-button-news{
        margin: 0px;
    }
    .second-news-div .button-news{
        font-size: 35px;
        text-decoration: none;
    }
    .second-news-div .button-news:hover{
        font-size: 38px;
    }
    .nnn p{
        margin: 0px;
    }
    .nnn .card{
        height: 600px;
    }
    .nnn .text-dark{
        font-size: 25px;
    }
    .nnn .card-text{
        font-size: 25px;
        height: 150px;
    }
    .nnn .card-title{
        font-size: 20px;
    }
    .nnn .text-green{
        transition: 1s;
        font-size: 20px;
    }
    .nnn .text-green:hover{
        transition: 1s;
        font-size: 23px;
    }
    .news-page-index .padination{
        font-size: 20px;
    }
    .news-button-create .btn-primary{
        font-size: 30px;
    }
}
@media (max-width:1440px){
    .first-new-page .latest-bg{
        width: 98.5%;
    }
    .first-new-page .latest-text{
        height: 100px;
        width: 100%;
        color: white;
        font-size: 30px;
    }
    .first-new-page .latest-text2{
        padding-left: 2%;
        font-size: 25px;
        color: white;
        height: 250px;
    }
    .first-new-page .card-title{
        font-size: 25px;
    }
    .first-new-page .button-news{
        text-decoration: none;
    }
    .first-new-page .button-news{
        font-size: 35px;
    }
    .first-new-page .button-news:hover{
        font-size: 38px;
    }
    .first-new-page .latest-bg{
        height: 600px;
    }
    .second-news-div .second-bg{
        height: 400px;
    }
    .second-news-div .latest-date{
        font-size: 20px;
    }
    .second-news-div .latest-text{
        margin: 0px;
        height: 80px;
        color: white;
        font-size: 25px;
    }
    .second-news-div .latest-text2{
        height: 120px;
        color: white;
        font-size: 20px;
    }
    .second-news-div .div-for-button-news{
        margin: 0px;
    }
    .second-news-div .button-news{
        font-size: 25px;
        text-decoration: none;
    }
    .second-news-div .button-news:hover{
        font-size: 28px;
    }
    .nnn p{
        margin: 0px;
    }
    .nnn .card{
        height: 400px;
    }
    .nnn .text-dark{
        font-size: 15px;
    }
    .nnn .card-text{
        font-size: 15px;
        height: 50px;
    }
    .nnn .card-title{
        font-size: 15px;
    }
    .nnn .text-green{
        transition: 1s;
        font-size: 15px;
    }
    .nnn .text-green:hover{
        transition: 1s;
        font-size: 18px;
    }
    .news-page-index .padination{
        font-size: 15px;
    }
    .news-button-create .btn-primary{
        font-size: 20px;
    }
}
@media (max-width:1024px){
    .first-new-page .latest-bg{
        width: 98%;
    }
    .first-new-page .latest-text{
        height: 60px;
        width: 100%;
        color: white;
        font-size: 25px;
    }
    .first-new-page .latest-text2{
        padding-left: 2%;
        font-size: 20px;
        color: white;
        height: 150px;
    }
    .first-new-page .card-title{
        font-size: 20px;
    }
    .first-new-page .button-news{
        text-decoration: none;
    }
    .first-new-page .button-news{
        font-size: 25px;
    }
    .first-new-page .button-news:hover{
        font-size: 28px;
    }
    .first-new-page .latest-bg{
        height: 400px;
    }
    .second-news-div .second-bg{
        height: 250px;
    }
    .second-news-div .latest-date{
        font-size: 15px;
    }
    .second-news-div .latest-text{
        margin: 0px;
        height: 50px;
        color: white;
        font-size: 20px;
    }
    .second-news-div .latest-text2{
        height: 50px;
        color: white;
        font-size: 15px;
    }
    .second-news-div .div-for-button-news{
        margin: 0px;
    }
    .second-news-div .button-news{
        font-size: 25px;
        text-decoration: none;
    }
    .second-news-div .button-news:hover{
        font-size: 28px;
    }
    .nnn p{
        margin: 0px;
    }
    .nnn .card{
        height: 500px !important;
    }
    .nnn .text-dark{
        font-size: 20px;
    }
    .nnn .col-lg-3{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .nnn .card-text{
        font-size: 20px;
        height: 100px;
    }
    .nnn .card-title{
        font-size: 20px;
    }
    .nnn .text-green{
        transition: 1s;
        font-size: 20px;
    }
    .nnn .text-green:hover{
        transition: 1s;
        font-size: 18px;
    }
    .news-page-index .padination{
        font-size: 15px;
    }
    .news-button-create .btn-primary{
        font-size: 20px;
    }
}
@media (max-width:768px){
    .first-new-page .latest-bg{
        width: 97.3%;
    }
    .first-new-page .latest-text{
        height: 50px;
        width: 100%;
        color: white;
        font-size: 20px;
    }
    .first-new-page .latest-text2{
        padding-left: 2%;
        font-size: 15px;
        color: white;
        height: 80px;
    }
    .first-new-page .card-title{
        font-size: 15px;
    }
    .first-new-page .button-news{
        text-decoration: none;
    }
    .first-new-page .button-news{
        font-size: 20px;
    }
    .first-new-page .button-news:hover{
        font-size: 23px;
    }
    .first-new-page .latest-bg{
        height: 300px;
    }
    .second-news-div .second-bg{
        margin-bottom: 5%;
        height: 300px;
    }
    .second-news-div .latest-date{
        font-size: 15px;
    }
    .second-news-div .latest-text{
        margin: 0px;
        height: 50px;
        color: white;
        font-size: 20px;
    }
    .second-news-div .latest-text2{
        height: 80px;
        color: white;
        font-size: 15px;
    }
    .second-news-div .div-for-button-news{
        margin: 0px;
    }
    .second-news-div .button-news{
        font-size: 20px;
        text-decoration: none;
    }
    .second-news-div .button-news:hover{
        font-size: 23px;
    }
    .nnn p{
        margin: 0px;
    }
    .nnn .card{
        height: 400px !important;
    }
    .nnn .text-dark{
        font-size: 15px;
    }
    .nnn .col-lg-3{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .nnn .card-text{
        font-size: 15px;
        height: 60px;
    }
    .nnn .card-title{
        font-size: 15px;
    }
    .nnn .text-green{
        transition: 1s;
        font-size: 15px;
    }
    .nnn .text-green:hover{
        transition: 1s;
        font-size: 18px;
    }
    .news-page-index .padination{
        font-size: 10px;
    }
    .news-button-create .btn-primary{
        font-size: 15px;
    }
}
@media (max-width:375px){
    .news-page-index{
        margin-top: 20%;
    }
    .first-new-page .latest-bg{
        width: 100%;
    }
    .first-new-page .latest-text{
        height: 50px;
        width: 100%;
        color: white;
        font-size: 15px;
    }
    .first-new-page .latest-text2{
        padding-left: 2%;
        font-size: 15px;
        color: white;
        height: 100px;
    }
    .first-new-page .card-title{
        font-size: 15px;
    }
    .first-new-page .button-news{
        text-decoration: none;
    }
    .first-new-page .button-news{
        font-size: 15px;
    }
    .first-new-page .button-news:hover{
        font-size: 18px;
    }
    .first-new-page .latest-bg{
        height: 300px;
    }
    .second-news-div .col-lg-6{
        padding-right: 0px !important;
        width: 100%;
    }
    .second-news-div .second-bg{
        margin-bottom: 5%;
        height: 300px;
    }
    .second-news-div .latest-date{
        font-size: 15px;
    }
    .second-news-div .latest-text{
        margin: 0px;
        height: 50px;
        color: white;
        font-size: 15px;
    }
    .second-news-div .latest-text2{
        height: 110px;
        color: white;
        font-size: 15px;
    }
    .second-news-div .div-for-button-news{
        margin: 0px;
    }
    .second-news-div .button-news{
        font-size: 15px;
        text-decoration: none;
    }
    .second-news-div .button-news:hover{
        font-size: 18px;
    }
    .nnn p{
        margin: 0px;
    }
    .nnn .card{
        height: 400px !important;
    }
    .nnn .text-dark{
        font-size: 15px;
    }
    .nnn .col-lg-3{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0px;
    }
    .nnn .card-text{
        font-size: 15px;
        height: 60px;
    }
    .nnn .card-title{
        font-size: 15px;
    }
    .nnn .text-green{
        transition: 1s;
        font-size: 15px;
    }
    .nnn .text-green:hover{
        transition: 1s;
        font-size: 18px;
    }
    .news-page-index .padination{
        font-size: 10px;
    }
    .news-button-create .btn-primary{
        font-size: 15px;
        width: 100%;
    }
}