
.fixed-top-costom .container{
    max-width: 90%;
}

.user-menu i {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}



.top-navbar {
    font-size: .8rem !important;
    padding-top: 2px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background: white;
    transition: 0.3s;
    padding-bottom: 3px;
}

.top-navbar .nav-link {
    color: black;

}
@media (max-width: 992px) {
    .col-lg-6{
        max-width: 50% !important;
    } 
}
@media (max-width: 650px) {
    .col-lg-6{
        max-width: 100% !important;
    } 
}

@media (min-width: 992px) {

    .navbar-home {
        background: transparent;
        box-shadow: none;

    }
}
@media (min-height: 1080px) {
    /* .modal-form{
        padding-top: 5%;
    } */
    .form-group{
        margin-top: 7vh !important;
    }
    form.form-elixir.register-form-class{
        margin-top: 2vh;
    }
}
@media (max-height: 768px) {
    .form-group{
        margin-top: 3vh !important;
    }
    form.form-elixir.register-form-class{
        margin-top: 2vh;
    }
}
@media (max-height: 640px) {
    .form-group{
        margin-top: 1vh !important;
    }
    form.form-elixir.register-form-class{
        margin-top: 0;
    }
}

@media (max-width: 992px) {
    .modal-form {
        max-width: 100% !important;
    }
}

.navbar-home .nav-link, .navbar .navbar-brand {
    color: white;
}
.navbar-home #new-signal-btn{
    color: rgb(0,201,148);
    background: white;
    -webkit-box-shadow: 0px 0px 0px 5px white;
    -moz-box-shadow: 0px 0px 0px 5px white;
    box-shadow: 0px 0px 0px 5px white;
}
#new-signal-btn {
    font-weight: bold;
    border: none;
    -webkit-box-shadow: 0px 0px 0px 5px rgb(0,201,148);
    -moz-box-shadow: 0px 0px 0px 5px rgb(0,201,148);
    box-shadow: 0px 0px 0px 5px rgb(0,201,148);
    background-color:rgb(0,201,148);
    color: #ffffff;
    margin-left: 10px;
}
#new-signal-btn:hover{
    text-decoration: none;
}
.form-group.register-form-class .under-form{
    margin-top: 10%;
}
.navbar-collapse.collapse.show, .navbar-collapse.collapsing {
    background-color: white;
}

.navbar-collapse.collapse.show .nav-link, .navbar-collapse.collapsing .nav-link {
    color: black;
}
.navbar-collapse.collapse.show #new-signal-btn{
    box-shadow:none;
    margin-left: 0px;
    text-align: center;
}
div#modal-forms-container{
    margin-top: 0.4%;
}
@media (max-width: 1200px){
    .fixed-top-costom .container{
        max-width: 100%;
        margin: 0px;
    }
    ul.navbar-nav.text-nowrap{
        margin: 0px;
    }
    .navbar{
        padding: 0px;
    }
    ul.navbar-nav.mr-auto.text-nowrap{
        margin-right: 3%;
    }
}
.news-button-create .btn-primary{
    background-color: rgb(0,201,148);
    border-color: rgb(0,201,148);
    color: white;
    transition: 0.5s;
}
.news-button-create .btn-primary:hover{
    transition: 0.5s;

}
.news-button-create .btn-primary:focus{
    background-color: rgb(0,201,148) !important;
    box-shadow: none !important;
    border-color: rgb(0,201,148) !important;
}
.latest-news-data .latest-date{
    margin-top: 5vh;
    padding-top: 5vh;
}
.card{
    height: 100%;
}
.card-img-top{
    height: 40%;
}
.card-body{
    padding: 1rem;
}
/* .card-title{
    height: 10vh;
    margin-bottom: 2rem;
} */
.second-news-div{
    width: 100%;
    height: 100%;
}
.second-news-div .latest-date{
    margin-top: 0%;
}
.news-page-index{
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
}
.news-page-index .latest-news-data{
    padding: 5%;
}
.button-news{
    color: rgb(0,201,148) !important;
    font-size: 30px;
    transition: 1s;
}
.button-news:hover{
    color: rgb(0,201,148) !important;
    font-size: 35px;
    transition: 1s;
}
.second-news-div .button-news{
    color: rgb(0,201,148) !important;
    font-size: 20px;
    transition: 1s;
}
.second-news-div .button-news:hover{
    color: rgb(0,201,148) !important;
    font-size: 25px;
    transition: 1s;
}
.second-news-div .latest-text{
    margin-bottom: 5vh;
}
.second-news-div .button-news{
    margin-top: 30vh;
}
.div-for-button-news{
    margin-top: 35vh;
}
.second-news-div .latest-date{
    color: white;
}
.news-page-index .card-title{
    color: white;
}
.nnn .card-title{
    height: 12vh;
    color: black;
}
.news-page-index .padination{
    margin-top: 3vh;
}
.news-page-index .news-button-create{
    margin-top: 3vh;
}
.show-current-news{
    margin-top: 5%;
    width: 100%;
    height: 100%;
    padding: 5%;
}
.show-current-news label-headline-news{
    margin-bottom: 5%;
    font-family: monospace;
    font-size: 30px;
    color: black;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.show-current-news label-date-news{
    margin-bottom: 3%;
    font-family: monospace;
    color: black;
    display: inline-block;
    width: 100%;
}
.show-current-news .rounded-square{
    width: 100%;
}
.show-current-news label-text-news{
    font-family: monospace;
    color: black;
    display: inline-block;
    margin-top: 5%;
    width: 100%;
}
.show-current-news .btn-primary{
    margin-top: 5%;
    color: white;
    background-color: rgb(0,201,148);
    border-color: rgb(0,201,148);
}
.show-current-news .btn-primary:hover{
    color: white;
    background-color: rgb(0,201,148);
    border-color: rgb(0,201,148);
}
.show-current-news .btn-primary:focus{
    box-shadow: none !important;
    background-color: rgb(0,201,148) !important;
    border-color: rgb(0,201,148) !important;
}
.show-current-news label-text-news img{
    height: 50%;
    width: 50%;
}
.div-new-news{
    width: 100%;
    height: 100%;
    background-color: rgb(54, 201, 149);
}
.div-new-news .hidden-input-upload{
    display: none;
}
.div-new-news label.file-upload{
    margin: 0px;
}
.div-new-news{
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.div-new-news .form-group{
    padding: 3% 10%;
}
.div-new-news input#short_content, input#title{
    border: none;
    width: 25%;
    background: transparent;
    border-bottom: 1px solid white;
    border-radius: 0px;
}
.div-new-news input#title::placeholder, input#short_content::placeholder{
    color:white;
}
.div-new-news div#editor{
    border-color: white;
    height: 100vh;
}
.div-new-news .btn-primary{
    font-weight: bold;
    color: rgb(54, 201, 149);
    background-color: white;
    border-color: white;
}
.div-new-news .btn-primary:hover{
    color: rgb(54, 201, 149);
    background-color: white;
    border-color: white;
}
.div-new-news .btn-primary:focus{
    color: rgb(54, 201, 149);
    box-shadow: none;
    background-color: white;
    border-color: white;
}
.ql-toolbar.ql-snow{
    border-color: white;
}
