
p {

    color: lightgrey;
    font-family: "Times New Roman", Times, serif;
}
.col-sm-4, .col-md-4, .col-lg-4, .col-xs-6
{
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}
.thumbnail {
    display: block;
    padding: 0px;
    margin-bottom: 50px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;

    -webkit-box-shadow:0px 1px 1px lightgrey;
 -moz-box-shadow:0px 1px 1px lightgrey;
 box-shadow:0px 1px 1px lightgrey;
}

@media (min-width: 768px)
.col-sm-4 {
    width: 25%;
}

@media (min-width: 1200px)
.col-lg-4 {
    width: 25%;
}

.col-lg-4 {
    width: 25%;
}

.caption {

    text-align: left;
}

.UnderMain1 {
    background:url('/images/varna right.jpg');

float: left;
width: 48%;
margin-left:5px;
}




@media (min-height: 368px)
{
.container {
    height: 270px;
}

}
@media (max-height: 568px)
{
.container {
    height: 150px;
}

}
.row {
   margin-left: 0px;
   margin-right: 0px;
    
}
.UnderMain2{
    background:url('/images/varna right.jpg');
float:right;
width: 48%;
margin-right:5px;
}

.varnaright {

    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.varnaleft {
    height:100%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.carousel-caption {
    font-size: 30px;
    text-align: left;
  margin-bottom: ;
      margin-left: -150px;
      position: absolute;
      right: 15%;
      bottom: 185px;
      left: 15%;
      z-index: 10;
      padding-top: 20px;
      width:360px;
  
  
      
  
      min-width: 100px;
  }
  .carousel-caption3 {
    font-size: 15px;
    text-align: left;
  margin-bottom: ;
      margin-left: -150px;
      position: absolute;
      right: 15%;
      bottom: 160px;
      left: 15%;
      z-index: 10;
      padding-top: 20px;
      max-width:300px;
  text-align: left;
  
      
  
      min-width: 100px;
  }
  .carousel-caption2 {
    font-size: 15px;
    text-align: left;
  margin-bottom: ;
      margin-left: -150px;
      position: absolute;
      right: 15%;
      bottom: 270px;
      left: 15%;
      z-index: 10;
      padding-top: 20px;
      width:360px;
  
      min-width: 100px;
  }
  .containernews
  {
    padding-top: 50px;
    padding-left: 10px;
  }
  .col-container-shadow {
    width: 49%;
    height: 91%;
    box-shadow: inset 126px 0px 20px 0px rgba(0, 0, 0, .8), inset 268px -1px 20px 0px rgba(0, 0, 0, .5);
    
}
@media(max-width:600px)
{
    
      .col-container-shadow {
          width: 50%;
          height:75%;
          box-shadow: inset 45px 0px 20px 0px rgba(0, 0, 0, .8), inset 268px -1px 20px 0px rgba(0, 0, 0, .5);
          
      
    }
    .varnaleft {
        height: 40%;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .varnaright {
        height: 40%;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .containernews {
        padding-top: 3px;
        padding-left: 10px;
        font-size: 7px;
    }
}


 
  .ifformnews {
  color:#00cc99;

border: none;
  background-color: transparent;
  
  position: absolute;

}
  .col-xs-12 col-sm-12 col-md-12 col-lg-12 {

    position: absolute;

    position: relative;
    top: -100px;

     height: 100px;
  width: 200px;
    
  }
  @media screen and (max-width: 768px)
{.carousel-caption {
        font-size: 15px;
        padding-left: 110px;
        bottom: 75px;

    }
}
@media screen and (max-width: 768px)
{.carousel-caption2 {
        font-size: 15px;
        padding-left: 110px;
        bottom: 55px;

    }
}
@media screen and (max-width: 768px)
{.carousel-caption3 {
        font-size: 15px;
        padding-left: 110px;
        bottom: 105px;


    }
    h2 {

        font-size: 13px;
        max-width: 10px;
        
    }
}
