 .registered-dogs-div{
     position: absolute;
     margin-right: 13%;
     margin-top: 5%;
    /* margin: 7%; */
}
.col-12 .input-group{
    margin-top: 2%;
    width: 40%;
    position: fixed;
    z-index: 1;
    /* margin-left: 4%; */
}
.input-group-append{
    background-color: white;
}
.input-group-append:hover{
    background-color: rgb(0,201,148) !important;
}
.input.form-control.border-secondary.py-2:focus{
    -webkit-text-fill-color: black !important;
}
.btn-outline-secondary:hover{
    color: white;
}
.container{
    /* margin-left: 11%; */
    /* padding-left: 3%; */
    max-width: 80%;
}
.input-group-append .btn-outline-secondary:hover{
    background-color: rgb(0,201,148);
}
/* .input-group-append .fa-search:hover{
    color: white;
} */
.registered-dogs-div .col-container-shadow{
    opacity: 0;
}
.registered-dogs-div .col-container-shadow:hover{
    transition: 0.5s;
    opacity: 1;
}
.last-signals-dogs-div{
    position: absolute;
    margin-right: 12%;
    /* margin-left: 9%; */
}
.col-container .col-container-shadow{
    opacity: 0;
}
.col-container .col-container-shadow:hover{
    transition: 0.5s;
    opacity: 1;
}
.row.slick{
    margin-bottom: 50px;
}