.show-user-edit{
  font-size: 20px;
  color: black;
  float: right;
  width: auto;
  font-weight: bold;

}
.show-user-edit:hover{

  color: black !important;
  text-decoration: none;
}
.container-show-user{
  display: inline-flex;
  color: white;
  font-family: monospace;
  width: 100%;
}
li.user-li{
  list-style-position:inside;
    border-bottom: 1px solid white;
}
label-li-text{
  font-family: monospace;
  color: white;
}
.strong-show-user{
  margin-left: 1%;
  font-size: 12px;
}
.unauth_class{
  background-color: #36c995;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  display: inline-block;
}
.number_text{
  margin-top: 20vh;
  font-weight: bold;
  text-align: center;
  font-size: 100px;
  width: 100%;
  display: inline-block;
}
.error_text{
  margin-top: 10vh;
  font-size: 50px;
  text-align: center;
  width: 100%;
  display: inline-block;
}
.error_home_page{
  margin-top: 5vh;
  font-size: 25px;
  text-align: center;
  width: 100%;
  display: inline-block;
}
@media (max-width: 885px){
  .number_text{
    margin-top: 10vh;
    font-weight: 100;
    font-size: 100px;
  }
  .error_text{
    margin-top: 5vh;
    font-size: 50px;
  }
  .error_home_page{
    margin-top: 2vh;
    font-size: 25px;
  }
}
@media (max-height: 700px){
  .number_text{
    margin-top: 15vh;
  }
  .error_text{
    margin-top: 10vh;
  }
  .error_home_page{
    margin-top: 5vh;
  }
}
@media (max-height: 450px){
  .number_text{
    margin-top: 12vh;
  }
  .error_text{
    margin-top: 7vh;
  }
  .error_home_page{
    margin-top: 3vh;
  }
}
@media (max-height: 400px){
  body{
    overflow: auto !important;
  }
  .number_text{
    margin-top: 10vh;
  }
  .error_text{
    margin-top: 5vh;
  }
  .error_home_page{
    margin-top: 2vh;
  }
}
@media (max-width: 750px){
  number_text{
    margin-top: 10vh;
    font-weight: 100;
    font-size: 50px;
  }
  .error_text{
    margin-top: 5vh;
    font-size: 25px;
  }
  .error_home_page{
    margin-top: 2vh;
    font-size: 14px;
  } 
}
@media (max-width: 600px){
  .number_text{
    margin-top: 20vh;
    font-weight: 100;
    font-size: 40px;
  }
  .error_text{
    margin-top: 10vh;
    font-size: 25px;
  }
  .error_home_page{
    margin-top: 5vh;
    font-size: 15px;
  }
}
@media (max-width: 400px){
  .number_text{
    margin-top: 20vh;
    font-weight: 100;
    font-size: 60px;
  }
  .error_text{
    margin-top: 10vh;
    font-size: 30px;
  }
  .error_home_page{
    margin-top: 5vh;
    font-size: 15px;
  }
}
.user-li label-li-text{
  color: black;
}