
.show-signal-left-container{
    display: inline-block;
    position: fixed;
    padding-left: 0px;
    top: 8rem;
    left: 0%;
    width:50%;
    height:70vh;
    
}
div.show-signal-right-container{
    padding-left: 5%;
    margin-top: 11vh;
    margin-left: 50%;
    width: 50%;
    display: grid;
}
.show-signal-container{
    width: 100%;
    display: -webkit-inline-box;
}
.photo-single-signal{
    height: 100%;
    width: 100%;
}
.signal-photo-container{
    height: 100%;
    width: 100%;
}
textarea#comment-id{
    border-color: #00c790;
    width: 100%;
}
show-signal-label-title{
    margin-bottom: 10%;
    font-weight: bold;
    font-size: 40px;
}
.show-signal-right-container .buttons-for-signal{
    margin-top: 20%;
    margin-bottom: 0%;
}
.show-signal-right-container .table-under-form-signal{
    margin-bottom: 10%;
}
.show-signal-right-container show-signal-label-description{
    display: grid;
    width: 100%;
    margin-bottom: 10%;
}
.show-signal-right-container #show-map{
    text-align: right;
    margin-bottom: 5%;
}
.show-signal-right-container show-signal-label-adress{
    display: block;
    margin-bottom: 10%;
}
.show-signal-right-container .fa-map-marker-alt{
    color: rgb(0,201,148);
}
.fa-map-marker-alt{
    margin-bottom: 3%;
    cursor: pointer;
    opacity: 1;
    color: white;
    margin-right: 2%;
}
.fa-map-marker-alt:hover{
    color: white;
    /* color: #00c790; */
    cursor: pointer;
    transition: 0.5s;
    opacity: 1;
    text-decoration: none;
    
}
#show-map{
    cursor: pointer;
    float: right;
}
.address-style{
    color: grey;
    display: inline;
}
#show-map{
    border: 1px solid white;
    color: #00c790;
    background-color: transparent;
    font-weight: bold;
}
#show-map:hover{
    text-decoration: none;
}
.show-signal-under-description-text{
    color: #00c790;
    display: inline;
    font-weight: bold;

}
.show-signal-under-description-title{
    display: inline;
    font-size: 10px;
    
}
.green-td{
    color: #00c790;
    font-weight: bold;
    font-size: 15px;
}
.table-under-form-signal td{
    width: 150px;
    
}
.title-table-td{
    font-size: 10px;
    color: grey;
}
.show-signal-right-container #signal-id{
    display: none;
}
show-signal-label-description{
    color: grey;
}
.buttons-for-signal{
    /* float: right; */
    /* margin-left: 50%; */
    margin-top: 10%;
    width: 100%;
    height: 100px;;
    display: inline;
    
}
.buttons-for-signal1 .buttons-for-signal{
    float: right;
}
#register-comment-button:hover{
    cursor: pointer;
}
#register-comment-button{
    font-weight: bold;
    text-align: center;
    border: 1px solid #00c790;
    background-color: transparent;
    color: #00c790;
    float: right;
    padding: 10px 0;
    width: 35%;
}
.buttons-for-signal #comment{
    font-weight: bold;
    text-align: center;
    border: 1px solid #00c790;
    background-color: transparent;
    color: #00c790;
    float: right;
    padding: 10px 0;
    width: 35%;
}
.buttons-for-signal #submit-like1{
    width: 35%;
    text-align: center;
    padding: 10px 0;
    border: 1px solid #00c790;
    background-color: #00c790;
    color: white;
    cursor: pointer;
    float: right;
}
.username-comments-signal{
    display: inline;
    font-weight: bold;
    font-size: 20px;
}
.date-comments-signal{
    display: inline;
    float: right;
    color: grey;
}
.username-comment-on-signal{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.comments-count{
    font-weight: bold;
    font-size: 30px;
}
.hidden-form-group{
    display: none;
}
#cor-b{
    display: none;
}
#cor-a{
    display: none;
}
#show_map{
    
    display: inline-block;
    position: fixed !important;
    padding-left: 0px;
    top: 8rem;
    left: 50%;
    width:50%;
    height:70vh;
    background:yellow;
}
.fa-window-close{
    /* display: none !important; */
    position: fixed;
    background-color: transparent;
    color: #00c790;
    font-size: 40px;
    left: 50%;
    top: 8rem;
}
.fa-window-close:hover,
.fa-window-close:focus{
      text-decoration: none;
      cursor: pointer;
      transition: 0.5s;
      background-color: transparent;
  
}
.gmnoprint{
    display: none;
}
.under_comment{
    width: 100%;
    display: inline-block;
}
.close_comment{
    color: white;
    background-color: #00c790;
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 20%;
    width: 49.5%;
    border: 1px solid #00c790;
    display: inline-block;
}
.submit_comment{
    color: white !important;
    background-color: #00c790;
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 12%;
    width: 49.5%;
    border: 1px solid #00c790;
    display: inline-block;
    margin-left: 1%;
}
.submit_comment:hover,
.submit_comment:focus,
.close_comment:hover,
.close_comment:focus{
    text-decoration: none;
    background-color: white;
    color: #00c790 !important;
    transition: 0.5s;
    cursor: pointer;
}
#comment:hover{
    cursor: pointer;
}
#register-submit-adoption{
    font-weight: bold;
    width: 35%;
    text-align: center;
    padding: 10px 0;
    border: 1px solid #00c790;
    background-color: #00c790;
    color: white;
    cursor: pointer;
    float: right;
}
#submit-adoption{
    font-weight: bold;
    width: 35%;
    text-align: center;
    padding: 10px 0;
    border: 1px solid #00c790;
    background-color: #00c790;
    color: white;
    cursor: pointer;
    float: right;
}
.fa-check{
    color: #00c790;
}
.hide_for_ajax{
    display: none;
}
input[type="button"]:disabled {
    background: #dddddd;
}
#adoption-done{
    display: none;
}
#sent-adoption{
    padding: 5%;
    border: 1px solid #00c790;
    background-color: #00c790;
    color: white;
    font-weight: bold;
}
.check-class{
    margin-right: 5%;
    color: white;
}
.bg-test{
    background-color: #00c790;
}
.bg-test-signals-dog{
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 20%;
    background-color: white;
}
.col-registered-dog{
    margin-left: 5%;
    display: inline-block;
    width: 40%;
    height: 300px;
    margin-bottom: 5%;
}
linked-signals{
    font-weight: bold;

}
@media (max-width: 1115px){
    .show-signal-container{
        display: -webkit-inline-box;
    }
    .show-signal-left-container{
        display: inline-block;
        position: unset;
        padding-left: 0px;
        top: 8rem;
        left: 0%;
        width: 100%;
        height: 70vh;
    }
    div.show-signal-right-container{
        display: inline-block;
        padding-left: 0px;
        margin-top: 0px;
        margin-left: 0px;
        width: 100%;
    }
    #register-submit-adoption{
        width: 30%;
    }
    #register-comment-button{
        width: 30%;
    }
    #show_map {
        display: inline-block;
        position: absolute !important;
        padding-left: 0px;
        top: 29.5rem;
        left: 12.5%;
        width: 75%;
        height: 70vh;
        background: yellow;
    }
    .fa-window-close{
        position: absolute;
        background-color: transparent;
        color: #00c790;
        font-size: 40px;
        left: 13%;
        top: 30rem;
    }
}
@media (max-width: 550px){
    .fa-window-close {
        position: absolute;
        background-color: transparent;
        color: #00c790;
        font-size: 40px;
        top: 30rem;
        left: 17%;
    }
    #show_map {
        top: 29.5rem;
        left: 15.1%;
        width: 70%;
        display: inline-block;
        position: absolute !important;
        height: 70vh;
        background: yellow;
    }
    #register-submit-adoption{
        width: 50%;
    }
    #register-comment-button{
        width: 50%;
    }
}
.form-class-margin-top{
    padding: 6.4%;
    margin-top: 0 !important;
}
label-forgotten-password{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-bottom: 5%;
}
.radio-button-inline{
    display: inline-block;
    width: 100%;
    margin-left: 2%;
}
@media (max-width: 2560px){
    .show-signals-dogs .col-container{
        width: 27rem;
        height: 36rem;
    }
}
@media (max-width: 2380px){
    .show-signals-dogs .col-container{
        width: 25rem;
        height: 35rem;
    }
}
@media (max-width: 2200px){
    .show-signals-dogs .col-container{
        width: 23rem;
        height: 33rem;
    }
}
@media (max-width: 2020px){
    .show-signals-dogs .col-container{
        width: 21rem;
        height: 31rem;
    }
}
@media (max-width: 1920px){
    .show-signals-dogs .col-container{
        width: 21rem;
        height: 28rem;
    }
    .show-signals-dogs .col-lg-3{
        flex: 0 0 25%;
    }
}
@media (max-width: 1865px){
    .show-signals-dogs .col-container{
        width: 20rem;
    }
}
@media (max-width: 1785px){
    .show-signals-dogs .col-container{
        width: 19rem;
        /* height: 23rem; */
    }
}
@media (max-width: 1705px){
    .show-signals-dogs .col-container{
        width: 18rem;
    }
}
@media (max-width: 1645px){
    .show-signals-dogs .col-container{
        width: 17rem;
        height: 26rem;;
    }
}
@media (max-width: 1585px){
    .show-signals-dogs .col-container{
        width: 17rem;
    }
}
@media (max-width: 1525px){
    .show-signals-dogs .col-container{
        width: 16rem;
    }
}
@media (max-width: 1465px){
    .show-signals-dogs .col-container{
        width: 15rem;
        height: 21rem;
    }
}
@media (max-width: 1405px){
    .show-signals-dogs .col-container{
        width: 15rem;
    }
}
@media (max-width: 1345px){
    .show-signals-dogs .col-container{
        width: 14rem;
        height: 20rem;
    }
}
@media (max-width: 1285px){
    .show-signals-dogs .col-container{
        width: 13rem;
    }
}
@media (max-width: 1225px){
    .show-signals-dogs .col-container{
        width: 13rem;
        height: 18rem;
    }
}
@media (max-width: 1165px){
    .show-signals-dogs .col-container{
        width: 12rem;
    }
}
@media (max-width: 1103px){
    .show-signals-dogs .col-container{
        width: 11rem;
        height: 16rem;
    }
}
@media (max-width: 1053px){
    /* .show-signals-dogs{
        padding-left: 5%;
    } */
    .show-signals-dogs .col-container{
        width: 11rem;
    }
}
@media (max-width: 1003px){
    .show-signals-dogs .col-container{
        width: 10rem;
    }
}
@media (max-width: 953px){
    .show-signals-dogs .col-container{
        width: 18rem;
    }
}
@media (max-width: 903px){
    .show-signals-dogs .col-container{
        width: 17rem;
    }
}
@media (max-width: 853px){
    .show-signals-dogs .col-container{
        width: 16rem;
    }
}
@media (max-width: 823px){
    .show-signals-dogs .col-container{
        width: 15rem;
    }
}
@media (max-width: 780px){
    .show-signals-dogs{
        padding: 0px;
    }
    .show-signals-dogs .col-container{
        width: 33rem;
    }
}
@media (max-width: 733px){
    .show-signals-dogs .col-container{
        width: 31.5rem;
    }
}
@media (max-width: 703px){
    .show-signals-dogs .col-container{
        width: 30rem;
    }
}
@media (max-width: 673px){
    .show-signals-dogs .col-container{
        width: 28.5rem;
    }
}
@media (max-width: 643px){
    .show-signals-dogs .col-container{
        width: 26rem;
    }
}
@media (max-width: 613px){
    .show-signals-dogs .col-container{
        width: 24.5rem;
    }
}
@media (max-width: 583px){
    .show-signals-dogs .col-container{
        width: 23rem;
    }
}
@media (max-width: 523px){
    .show-signals-dogs .col-container{
        width: 20rem;
    }
}
@media (max-width: 463px){
    .show-signals-dogs .col-container{
        width: 18.5rem;
    }
}
@media (max-width: 433px){
    .show-signals-dogs .col-container{
        width: 16rem;
    }
}







/* REGISTERED DOGS */

@media (max-width: 2560px){
    .registered-dogs-div .col-container{
        width: 27rem;
        height: 36rem;
    }
}
@media (max-width: 2380px){
    .registered-dogs-div .col-container{
        width: 25rem;
        height: 35rem;
    }
}
@media (max-width: 2200px){
    .registered-dogs-div .col-container{
        width: 23rem;
        height: 33rem;
    }
}
@media (max-width: 2090px){
    .registered-dogs-div .col-container{
        width: 22rem;
        height: 32rem;
    }
}
@media (max-width: 2020px){
    .registered-dogs-div .col-container{
        width: 21rem;
        height: 31rem;
    }
}
@media (max-width: 1920px){
    .registered-dogs-div .col-container{
        width: 20rem;
        height: 27rem;
    }
    .registered-dogs-div .col-lg-3{
        flex: 0 0 25%;
    }
}
@media (max-width: 1865px){
    .registered-dogs-div .col-container{
        width: 19rem;
    }
}
@media (max-width: 1785px){
    .registered-dogs-div .col-container{
        width: 19rem;
        /* height: 23rem; */
    }
}
@media (max-width: 1755px){
    .registered-dogs-div .col-container{
        width: 18rem;
    }
}
@media (max-width: 1645px){
    .registered-dogs-div .col-container{
        width: 17rem;
        height: 26rem;;
    }
}
@media (max-width: 1585px){
    .registered-dogs-div .col-container{
        width: 16rem;
    }
}
@media (max-width: 1525px){
    .registered-dogs-div .col-container{
        width: 15rem;
        height: 23rem;
    }
}
@media (max-width: 1465px){
    .registered-dogs-div .col-container{
        width: 15rem;
        height: 21rem;
    }
}
@media (max-width: 1415px){
    .registered-dogs-div .col-container{
        width: 14rem;
    }
}
@media (max-width: 1345px){
    .registered-dogs-div .col-container{
        width: 13rem;
        height: 20rem;
    }
}
@media (max-width: 1290px){
    .registered-dogs-div .col-container{
        width: 13rem;
    }
}
@media (max-width: 1225px){
    .registered-dogs-div .col-container{
        width: 13rem;
        height: 18rem;
    }
}
@media (max-width: 1165px){
    .registered-dogs-div .col-container{
        width: 12rem;
    }
}
@media (max-width: 1103px){
    .registered-dogs-div .col-container{
        width: 11rem;
        height: 16rem;
    }
}
@media (max-width: 1053px){
    .registered-dogs-div .col-container{
        width: 11rem;
    }
}
@media (max-width: 1003px){
    .registered-dogs-div .col-container{
        width: 10rem;
    }
}
@media (max-width: 953px){
    .registered-dogs-div .col-container{
        width: 18rem;
    }
}
@media (max-width: 903px){
    .registered-dogs-div .col-container{
        width: 17rem;
    }
}
@media (max-width: 853px){
    .registered-dogs-div .col-container{
        width: 16rem;
    }
}
@media (max-width: 823px){
    .registered-dogs-div .col-container{
        width: 15rem;
    }
}
@media (max-width: 780px){
    .registered-dogs-div{
        padding: 0px;
    }
    .registered-dogs-div .col-container{
        width: 33rem;
    }
}
@media (max-width: 733px){
    .registered-dogs-div .col-container{
        width: 31.5rem;
    }
}
@media (max-width: 703px){
    .registered-dogs-div .col-container{
        width: 30rem;
    }
}
@media (max-width: 673px){
    .registered-dogs-div .col-container{
        width: 28.5rem;
    }
}
@media (max-width: 643px){
    .registered-dogs-div .col-container{
        width: 26rem;
    }
}
@media (max-width: 613px){
    .registered-dogs-div .col-container{
        width: 24.5rem;
    }
}
@media (max-width: 583px){
    .registered-dogs-div .col-container{
        width: 23rem;
    }
}
@media (max-width: 523px){
    .registered-dogs-div .col-container{
        width: 20rem;
    }
}
@media (max-width: 463px){
    .registered-dogs-div .col-container{
        width: 18.5rem;
    }
}
@media (max-width: 433px){
    .registered-dogs-div .col-container{
        width: 16rem;
    }
}