<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
  <div class="register-photo">
    <div class="container mt-3">
      <div class="container-show-user">


      <label-li-text><center>Your information: </center></label-li-text>

      <br />
      <br>
        <div class="buttons-show-signals-user"> <center>
          <a class="buttons-show-followed-signal" href="#">
            Followed signals
          </a>
          
          <a class="buttons-show-my-signals" href="/my_signals">
            My signals
          </a>

        </center>

        </div>
      <br>
      <br />

      <br />

        <ul class="list-unstyled">

          <li class="user-li">
            <label-li-text>
              <strong class="strong-show-user">Name:</strong><br />
              <%= @user.first_name %> <%= @user.last_name %>
            </label-li-text>
          </li>

          <br />
        <br>

          <li class="user-li">
            <label-li-text>
              <strong class="strong-show-user">Username:</strong><br />
              <%= @user.username %>
            </label-li-text>
          </li>
        <br>

        <br>
        <li class="user-li">
          <label-li-text>
            <strong class="strong-show-user">Phone:</strong><br />
            <%= @user.phone %> <%= link "Edit", to: user_path(@conn, :edit, @user), class: "show-user-edit" %>
          </label-li-text>
        </li>
        <br />
      <br>
      <li class="user-li">
        <label-li-text>
          <strong class="strong-show-user">Password:</strong><br />
          *************<%= link "Edit", to: user_path(@conn, :edit, @user), class: "show-user-edit" %>
        </label-li-text>
      </li>
      <br />
    <br>
          <li class="user-li">
            <label-li-text>
              <strong class="strong-show-user">Email:</strong><br />
              <%= @user.email %> <%= link "Edit", to: user_path(@conn, :edit, @user), class: "show-user-edit" %>
            </label-li-text>
          </li>
        <br>


        <!-- <span><%=# link "Edit", to: user_path(@conn, :edit, @user) %></span>
         <a href="\">Back</a></span> -->
         </div>
      </div>
    </div>
  </body>
</html>
