Запитване от <%= assigns["first_name"] %> <%= assigns["last_name"] %> <br>

<table border="1">
  <tr>
    <td colspan="2">Данни</td>
  </tr>
  <tr>
    <td> Email:</td>
    <td> <%= assigns["email"] %></td>
  </tr>
  <tr>
    <td> Телефон:</td>
    <td> <%= assigns["phone"] %></td>
  </tr>
</table>
<br>
<br>
Текст:
<br>
<%= assigns["text"] %>
