<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
  
  </head>
  <body>
        <div class="container-filter-signals">
                <div class="container-filter">
                    <b><a href="/minicipality_signals" id="all-signals">Подадени сигнали</a></b>
                    <div class="Signals"> 
                    
                    </div>
                    <br />
                    <a href="minicipality_registered" id="all-registered-dogs">Регистрирани кучета</a>
                    <div class="Signals1"> 
                    
                    </div>
                    <br />
                    <a href="/minicipality_adopted" id="all-adopted-dogs">Осиновени кучета</a>
                    <div class="Signals2"> 
                    
                    </div>
                    <br />
                    <b>
                    <a href="/minicipality_shelter" id="all-dogs-shelter">Кучета в приюта</a>
                    <div class="Signals3"> 
                    
                    </div>
                    </b>
                </div>
            <div class="container-signals">
                                    
                                <div class="row">
                                <%= for animal <- @animals do %>

                                    <div class="col-lg-3">
                                            <div class="col-container" style="background-image: url('/<%= get_image_animals_id(animal.id) %>')">
                                            <div class="col-container-shadow">

                                                <label-type class="
                                                <%= if animal.animals_status_id == 1 do %>
                                                    label-type-red
                                                <% end %>

                                                <%= if animal.animals_status_id == 2 do %>
                                                    label-type-orange
                                                <% end %>

                                                <%= if animal.animals_status_id == 3 do %>
                                                    label-type-green
                                                <% end %>"><%= animal.animals_status.name %>
                                            </label-type>
                                                <br />

                                                <label-date>
                                                <%=
                                                signal_time = animal.inserted_at
                                                |> DateTime.truncate(:second)
                                                |> DateTime.to_string()
                                                count = String.length(signal_time)
                                                final_time = String.slice(signal_time,0..count-11)
                                                final_time
                                                %>
                                                <br />
                                                </label-date>

                                                <label-chip-number>
                                                Number of chip: <%= animal.chip_number%>
                                                </label-chip-number>

                                                <label-title><b>Sex: <%= animal.sex%></b></label-title>
                                                <br />


                                                <label-adress> Last Location: <%= animal.address%></label-adress>
                                                <br />

                                                <center>

                                                <div class="button-show-hide">
                                                </div></center>
                                            <!-- The Modal -->
                                                
                                                <center>

                                                <div class="button-show-hide">
                                                <%= link "Вижте повече »", to: animal_path(@conn, :show, animal), class: "btn btn-secondary" %>
                                            </div></center>
                                            </div>

                                            </div>
                                        </div>

                                    <%end%>
                                </div><!-- /.row -->
                                
                                 <div class="padination">
                        <%= if @page.total_pages > 0 do %>
                            <%= for x <- 1..@page.total_pages do %>
                            <%= link "#{x * 9 - 8} - #{x * 9}", to: animal_path(@conn, :minicipality_registered, page: x) %>
                            <% end %>  
                        <%= end %>
                        </div>
                                
                        </div>
                       
                        </div>
                    </body>
                    </html>
