<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
  
  </head>
  <body>
        <div class="container-filter-signals">
                <div class="container-filter">
                    <b><a href="/municipality/signals" id="all-signals">Подадени сигнали</a></b>
                    <div class="Signals"> 
                    
                    </div>
                    <br />
                    <a href="/municipality/animals" id="all-registered-dogs">Регистрирани кучета</a>
                    <div class="Signals1"> 
                    <ul style="list-style-type:none;">  
                    <li class="title_filter"> Филтрирай спрямо Статус </li> 
                <%= form_for @conn, animal_path(@conn, :filter_registered),[multipart: true, class: "form-elixir register-form-class", method: :get], fn f -> %>
              <%= checkbox(f, :animal_status1, checked_value: 1, value:    if Enum.find(@data, fn x -> x == "1" end)  != nil do Enum.find(@data, fn x -> x == "1" end) |> String.to_integer() 
                                                                                        else  0 end )%>Бездомно куче</br>
              <%= checkbox(f, :animal_status2, checked_value: 2, value: if Enum.find(@data, fn x -> x == "2" end)  != nil do Enum.find(@data, fn x -> x == "2" end) |> String.to_integer() 
                                                                                        else  0 end )%>Избягал домашен любимец</br>
              <%= checkbox(f, :animal_status3, checked_value: 3, value: if Enum.find(@data, fn x -> x == "3" end)  != nil do Enum.find(@data, fn x -> x == "3" end) |> String.to_integer() 
                                                                                        else  0 end )%>Малтретиране на животно
                    </div>
                          </ul>   
                <div class="input-group-append">
                         <%= submit "Търси", class: "btn btn-submit" %> <br>
                          <% end %>
                    </button>
                </div>
                    <br />
                    <a href="/municipality/animals/adopted" id="all-adopted-dogs">Осиновени кучета</a>
                    <div class="Signals2"> 
                    
                    </div>
                    <br />
                    <b>
                    <a href="/municipality/animals/shelter" id="all-dogs-shelter">Кучета в приюта</a>
                    <div class="Signals3"> 
                    
                    </div>
                    </b>
                </div>
            <div class="container-signals">
                                    
                                <div class="row">
                                <%= for animal <- @animals do %>

                                    <div class="col-lg-3">
                                    
              <div class="col-container" style="background-image: url('/<%= SmartcitydogsWeb.AnimalView.get_image_animals_id(animal.id) %>')">
                <div class="col-container-shadow">

                  <label-type class="
                    <%= if animal.animals_status_id == 1 do %>
                        label-type-red
                    <% end %>

                    <%= if animal.animals_status_id == 2 do %>
                        label-type-orange
                    <% end %>

                    <%= if animal.animals_status_id == 3 do %>
                        label-type-green
                    <% end %>"><%= animal.animals_status.name %>
                  </label-type>
                  <br />

                  <label-text-grey>
                    ПОЛ
                  </label-text-grey>
                  <br>
                  <label-text-white>
                    <%= animal.sex %>
                  </label-text-white>
                  <br><br>
                  <label-text-grey>
                    НОМЕР НА МАРКА/ЧИП
                  </label-text-grey>
                  <br>
                  <label-text-white>
                    <%= animal.chip_number %>
                  </label-text-white>
                  <br><br>
                  <label-text-grey>
                    ДАТА НА РЕГИСТРАЦИЯ
                  </label-text-grey><br>
                  <label-text-white>
                  <%=
                    signal_time = animal.inserted_at
                    |> DateTime.truncate(:second)
                    |> DateTime.to_string()
                    count = String.length(signal_time)
                    final_time = String.slice(signal_time,0..count-11)
                    final_time
                  %>
                  </label-text-white>
                  <br><br>
                  <label-text-grey>
                    ПОСЛЕДНА ЛОКАЦИЯ
                  </label-text-grey>
                  <br>
                  <label-text-white>
                    <%= animal.address %>
                  </label-text-white>

                    <center>
                      <div class="button-show-hide">
                        <div class="adopted_button">
                          <%= link "Виж още »", to: animal_path(@conn, :show, animal), class: "btn btn-secondary" %>
                        </div>
                      </div>
                    </center>
                </div>
              </div>
            </div>
          
        <%end%>
        </div><!-- /.row -->
            <div class="padination">
         
<%= if @page.total_pages > 0 do %>
    <%= for x <- 1..@page.total_pages do %>
    <%= link "#{x * 9 - 8} - #{x * 9}", to: animal_path(@conn, :minicipality_registered, page: x, animal_status: @data ) %>
    <% end %>  
<% end %>
</div>
        
</div>

</div>
</body>
</html>
