<div class="col-10 m-auto">
    <div class="col-10 m-auto pt-3">
        <h3 class="h3 mb-5 font-weight-normal ">Добавяне на куче</h3>
    </div>
    <%= render "form.html", Map.put(assigns, :action, Routes.animal_path(@conn, :create)) %>
</div>






