<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  
  </head>
  <body>
      <div class="show-signal-container">
        <div class="show-signal-left-container">
          <div class="signal-photo-container">
            <img class="photo-single-signal" src="/<%= get_image_animals_id(@animals.id) %>" alt="Generic placeholder image" width="300" height="200">
          </div>
        </div>
        <div class="show-signal-right-container">
            <div id="show_map" style="position: relative; display: none;">
            </div>
          <i class="far fa-window-close close2"></i>
            <show-signal-label-status class="
              <%= if @animals.animals_status_id == 1 do %>
                            label-type-red
                          <% end %>

                          <%= if @animals.animals_status_id == 2 do %>
                            label-type-orange
                          <% end %>

                          <%= if @animals.animals_status_id == 3 do %>
                            label-type-green
                          <% end %>
            ">
            
              <%= @animals.animals_status_id
                |> Smartcitydogs.DataAnimals.get_animal_status()
                |> Map.get(:name)
              %>
            </show-signal-label-status>
            <br>
            <br>
            <br>
            <show-signal-label-adress>
              <div class="fa fa-map-marker-alt" aria-hidden="false"></div><div class="address-style" id="test-address"><%=@animals.address%></div>
            </show-signal-label-adress>
            <a id="show-map" >ВИЖ НА КАРТА</a>
            <br><br><br>
            
            <show-signal-label-description>
              <%=@animals.description%>
            </show-signal-label-description>

            <br><br><br>
            <table class="table-under-form-signal">

                <tr>
                  <td class="title-table-td"> 
                    <label-title-registered>
                      ПОЛ
                    </label-title-registered>
                  </td>
                  <td class="title-table-td">

                    <label-title-view-count>
                      ПНОМЕР НА ЧИП
                    </label-title-view-count>
                  </td>
                  <td  class="title-table-td">
                    <label-title-support-count>
                      ДАТА НА РЕГИСТРИРАНЕ
                    </label-title-support-count>
                  </td>
                </tr>
              
                <tr>
                  <td class="green-td">
                    <label-description-registered>
                      <%= @animals.sex %>
                    </label-description-registered>
                  </td>
                  <td class="green-td">
                    <label-description-view-count>
                      <%= @animals.chip_number %>
                    </label-description-view-count>
                  </td>
                  <td class="green-td">  
                    <label-description-support-count>
                      <%=
                      animal_time = @animals.inserted_at
                              |> DateTime.truncate(:second)
                              |> DateTime.to_string()
                              count = String.length(animal_time)
                              final_time = String.slice(animal_time,0..count-11)
                              final_time
                      %>
                    </label-description-support-count>
                  </td>
                  </tr>
                </table>  
                <br>
                
                <div class="div-procedures">
                  <b>Извършени процедури</b> <br> <br>
                  <div class="procedures-all">
                    <i class="fa fa-check"></i> Кастрирано<br>
                    <i class="fa fa-check"></i> Обезпаразитено <br>
                  </div>
                </div> 
                <br>
                <br>
                <div class="buttons-for-signal">
                  <div class="hide_for_ajax">
                  
                    <p id="chip_number"><%= @animals.chip_number %></p>
                    <p id="user_name"><%= @conn.assigns.current_user.first_name %></p>
                    <p id="user_last_name"><%= @conn.assigns.current_user.last_name %></p>
                    <p id="user_email"><%= @conn.assigns.current_user.email %></p>
                    <p id="user_phone"><%= @conn.assigns.current_user.phone %></p>
                    <p id="animal_id"><%= @animals.id %></p>
                    <p id="user_id"><%= @conn.assigns.current_user.id %></p>
                  
                  </div>
                  
                  <%= if @animals.animals_status_id == 3 do %>
                    <a input type="button" id="adoption-done"></a>
                  <% else %>
                    <% check = Smartcitydogs.DataAnimals.check_adopt(@conn.assigns.current_user.id, @animals.id) %>
                    
                    <% IO.inspect(check) %>
                    <%= if check == false do %>
                      <a input type="button" id="submit-adoption"><i class="fa fa-home"></i> ОСИНОВИ </a>
                    <% else %>
                       <a id="sent-adoption"><i class="fa fa-check check-class"></i> ИЗПРАТЕНА ЗАЯВКА </a>
                    <% end %>
                  <% end %>
                  
                </div>
        </div>



        <script>
        $('#show_map').hide();
        $('.close2').hide();
        var cor_a = $('#cor-a').text();
        var cor_b = $('#cor-b').text();
        function ShowMap() {
          console.log(cor_a);
          console.log(cor_b);
          var mapCanvas = document.getElementById("show_map");
          var myCenter = new google.maps.LatLng(cor_a, cor_b);
          var mapOptions = {
              center: myCenter,
              zoom: 18,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          
          var map = new google.maps.Map(mapCanvas, mapOptions);
          var marker = new google.maps.Marker({
            position: myCenter,
            animation: google.maps.Animation.BOUNCE
          });
          console.log(marker);
          marker.setMap(map);
        }
      </script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAnp2RXJIJARIGKIcxtUVdHD7-TyFCfe4&callback=ShowMap"></script>
  </body>
</html>